@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');

*{
  box-sizing: border-box;
}

html, body{
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
}

header, main, footer{
  max-width: 1920px;
  margin: 0 auto;
}

.header{
  width: 100%;
  height: 100px;
  background: rgba(47, 47, 47, 0.65);
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-wrapper{
  display: flex;
  align-items: center;
}
.burger-box{
  display: none;
  font-size: 30px;
  margin-left: 30px;
  color: #000000;
}
.menu{
  padding-right: 238px;
}

.menu__list{
  display: flex;
  padding: 43px 75px;
}

.menu__item{
  list-style: none;
}

.menu__item:not(:last-child){
  padding-right: 56px;
}

.menu__link{
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  color: #ffffff;
}
.logo{
  padding-left: 238px;
  width: 171px;
  height: 34px;
}
.title{
  top: 218px;
  padding-left: 240px;
  position: absolute;
  color: #000000;
}
.title__img{
  width: 264px;
  height: 51px;
  
}
.title__text{
  font-weight: 600;
  font-size: 64px;
}
.uslugi{
  top: 580px;
  padding-left: 240px;
  padding-right: 240px;
  position: relative;
}
.uslugi__wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.uslugi__item{
  display: block;
  width: 300px;
  height: 200px;
  border-radius: 10px;
  background: #000000;
  text-align: center;
  box-shadow: 0 3px 3px 3px rgba(155, 154, 154, 0.65);
}
.uslugi__text{
  font-size: 20px;
}
.btn__item{
  width: 360px;
  height: 70px;
  background: linear-gradient(267.6deg, #05CFFB 5.96%, #051EFB 93.64%);
  border-radius: 20px;
  border: none;
  color: #ffffff;
  font-size: 25px;
  box-shadow: 0 3px 3px 3px rgba(155, 154, 154, 0.65);
}